#include <iostream>

#include "Problem.hpp"

class Problem_#problemName# : public Problem {
    void solve() const override {

    }
};

int main() {
    std::cout << "Solving #problemName# started\n";
    Problem_#problemName# s;
    s.solve();
    std::cout << "Solving #problemName# done\n";
    return 0;
}
